<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinetech.aihall.modules.iot.mapper.MpDeviceEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shinetech.aihall.modules.iot.model.MpDeviceEvent">
        <id column="id" property="id" />
        <result column="terminal_id" property="terminalId" />
        <result column="terminal_report_id" property="terminalReportId" />
        <result column="address" property="address" />
        <result column="type" property="type" />
        <result column="event_json" property="eventJson" />
        <result column="created_time" property="createdTime" />
    </resultMap>

</mapper>
