<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zungen.mp.modules.iot.mapper.MpTerminalReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zungen.mp.modules.iot.model.MpTerminalReport">
        <id column="id" property="id" />
        <result column="terminal_id" property="terminalId" />
        <result column="terminal_address" property="terminalAddress" />
        <result column="energy_sale" property="energySale" />
        <result column="energy_supply" property="energySupply" />
        <result column="energy_lost" property="energyLost" />
        <result column="line_lost" property="lineLost" />
        <result column="event_power_lost" property="eventPowerLost" />
        <result column="event_load_balance" property="eventLoadBalance" />
        <result column="event_line_lost" property="eventLineLost" />
        <result column="event_over_load" property="eventOverLoad" />
        <result column="event_quality" property="eventQuality" />
        <result column="event_meter" property="eventMeter" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <insert id="insertReport" useGeneratedKeys="true" keyProperty="id" parameterType="com.zungen.mp.modules.iot.model.MpTerminalReport">
        INSERT INTO mp_terminal_report VALUES(null,
                                            #{terminalId},
                                            #{terminalAddress},
                                            #{energySale},
                                            #{energySupply},
                                            #{energyLost},
                                            #{lineLost},
                                            #{eventPowerLost},
                                            #{eventLoadBalance},
                                            #{eventLineLost},
                                            #{eventOverLoad},
                                            #{eventQuality},
                                            #{eventMeter},
                                            #{createdTime})
    </insert>

    <select id="selectLastReportByTerminalId" resultType="com.zungen.mp.modules.iot.model.MpTerminalReport">
        select * from mp_terminal_report
        where terminal_id = #{terminalId}
        order by created_time desc limit 1
    </select>
</mapper>
